<div class="col-md-8">
  <h4 class="mb-9">Información Registro</h4>
  <form class="needs-validation" (submit)="registerNewUser()" [noValidate]="false">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Nombres</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" required pattern="[a-zA-Z]+"
          title="El nombre debe incluir mínimo 3 letras">

      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Apellidos</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido" required pattern="[aA-zZ]{3,10}"
          title="El apellido debe incluir mínimo 3 letras">
      </div>
    </div>

    <div class="mb-3">
      <label for="username">Código</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Codigo</span>
        </div>
        <input type="text" class="form-control" name="codigo" placeholder="506223588" [(ngModel)]="codigo"
          pattern="^(50)([0-9]{7})$" maxlength="9" title="el codigo incluye 9 digitos, comienza en 50" required>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" placeholder="you@example.com" [(ngModel)]="email"
        placeholder="example@email.com" required>

    </div>

    <div class="mb-3">
      <label for="address">Contrasena</label>
      <input type="password" class="form-control" name="contrasena" [(ngModel)]="contrasena" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,10}$"
        title="La contraseña debe contener mínimo 8 caracteres entre ellos una mayúscula, minúscula y un número">
    </div>


    <div class="row">
      <div class="col-md-9">
        <label for="country">Programa Académico</label>
        <select class="form-control" name="programa" [(ngModel)]="programa" required>
          <option *ngFor="let carrera of careras">{{carrera}}</option>
        </select>
      </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="submit">Registrarme</button>
  </form>
</div>